<div class="trial-container">
	<div id="loading" class="loading__container">
		<div class="loading__a"></div>
		<div class="loading__b"></div>
	</div>
	<div class="caption">
		<span>{{loadingMessage}}</span>
	</div>
	{{#each stimulusarray}}
		{{#with ImageStruct}} <!-- we pass a list of ImageStructs to this function, so we need to extract the URL -->
			<img id="trial-image-{{@index}}" class="trial-image" src="{{url}}" style="display: none;">
		{{/with}}
	{{/each}}
</div>
