<div class="fullheight fullsize" style="position:relative;">
    <div class="finish-container">
        <h1>Finished</h1>
         <p>You have completed the experiment.</p>
         <p>Thank you for participating! Please click <kbd>Next</kbd> to view the debriefing sheet.</p>
    </div>
    <div class="button-container">
        <button class="btn btn-primary" id="next-button">Next</button>
    </div>
</div>
