<div class="trial-container">
	<div id="loading" class="loading__container">
		<div class="loading__a"></div>
		<div class="loading__b"></div>
	</div>
	<div class="caption">
		<span>{{loadingMessage}}</span>
	</div>
</div>
