<div class="fullheight fullsize" style="position:relative;">
    <div class="content-container">
        <h1>This task is best performed in fullscreen.</h1>
        <h3>To enter into fullscreen mode, you must click the button below or press any key.</h3>
    </div>
    <div class="button-container">
        <button class="btn btn-primary" id="fs-button">Request Fullscreen</button>
    </div>
</div>
