<div class="container" align="center">
    <div class="grid5x5">
        {{#each distractors}}
            <div>
                <img src={{this}}>
            </div>
        {{/each}}
    </div>
    {{!--   <div>--}}
	    {{!--    <button class="btn btn-primary" id="exit-button">Press to End</button>--}}
    {{!--</div>--}}
</div>
