<div class="fullheight fullsize" style="position:relative;">
    <div class="content-container">
        <h1>Practice Completed</h1>
        <p>You have completed all of the practice trials! In the actual experiment you will not receive feedback. Click the <kbd>Next</kbd> button when you are ready to begin the experiment. </p>
    </div>
    <div class="button-container">
        <button class="btn btn-primary" id="start-button">Next</button>
    </div>
</div>
