<div class="fullheight fullsize" style="position:relative;">
    <div class="content-container">
         <h1>Practice</h1>
            <p align="left">For the practice trials, the target images you are searching for are <b><i>birds</i></b>. An example target image is shown below. Click the <kbd>Next</kbd> button when you are ready to begin the practice trials</p>
            <div align="center">
                <img src={{example}} alt="Image" style="width:{{imSize}};height:{{imSize}};">
            </div>
    </div>
    <div class="button-container">
        <button class="btn btn-primary" id="start-button">Next</button>
    </div>
</div>
