<div class="trial-container">
	<figure class="loading_container_with_caption">
			<div id="loading" class="loading__container">
					<div class="loading__a"></div>
					<div class="loading__b"></div>
			</div>
			<figcaption class="caption">Please wait while images are caching.  This may take some time.</figcaption>
		</figure>
	{{#each stimulusarray}}
		<!-- {{#with this}} -->
			<!-- <img id="trial-image-{{globalIndex}}" class="trial-image" src="{{stimURL}}" hidden> -->
			<img id="trial-image-{{@index}}" class="trial-image" src="{{this}}" style="display: none;">
		<!-- {{/with}} -->
	{{/each}}
</div>
