<div class="fullheight fullsize" style="position:relative;">
    <div class="frame-container">
        <!-- <embed src={{consentform}} style="top:0;left:0;position:fixed;min-width:100%;min-height:100%;" /> -->
        <iframe src={{consentform}} style="top:0;left:0;position:fixed;min-width:100%;min-height:100%;"></iframe>
    </div>
    <div class="button-container">
        <button class="btn btn-primary" id="start-button">Accept</button>
        <button class="btn btn-primary" id="decline-button">Decline</button>
    </div>
</div>
