<div class="fullheight fullsize" style="position:relative;">
    <div class="content-container">
        <span>You are half way though this block of the experiment.  Please feel free to take a break before continuing onto to the next half of this section.</span>
    </div>
    <div class="button-container">
        <button class="btn btn-primary" id="next-button">Next</button>
    </div>
</div>
