<!-- <div class="trial-container"> -->
	<!-- <img class="trial-image" src="{{thistrial}}" style="visibility: hidden;"> -->
<!-- </div> -->
<div class="trial-container">
	{{#each trialarray}}
		<!-- {{@index}}:  -->
		<img class="trial-image" src="{{this}}" style="visibility: hidden;"><!-- "display: none;" -->
	{{/each}}
</div>
