<div class="trial-container">
    <!-- <span class="digitalOrAnalogue">Was the watch digital or analogue?</span> -->
    <!-- <span class="didYouSee" hidden>Did you see {{imageType}}?</span> -->
    <!-- <div class="button-container"> -->
        <!-- <button class="btn btn-primary" id="start-button">Next</button> -->
    <!-- </div> -->
    <div class="didYouSee" align="center">
        <h2>Did you see {{imageType}}?</h2>
    </div>
    <div class="response-instructions" align="center">
        <h4><kbd>{{targetPresent}}</kbd> = yes. <kbd>{{targetAbsent}}</kbd> = no.</h4>
    </div>
</div>
