<div class="trial-container">
	<div class="trial-array">
        {{#each trials}}
            <div>
                <img src={{this}}>
            </div>
        {{/each}}
    </div>
	<span class="fixation-cross" style="font-size: 30pt;" hidden>+</span> <!-- approx 63pt -->
	<div class="button-container">
        <button class="btn btn-primary" id="next-button">Next</button>
    </div>
</div>
