<div class="trial-container">
	<!-- <div class="trial-array" hidden> -->
	<div class="Grid" id="trial-array-fs">
        {{#each trials}}
            <!-- <div> -->
			<div class="Cell" id="Cell{{@index}}">
                <img class="CellImg" src={{this}}>
            </div>
        {{/each}}
    </div>
    <div class="instruction" align="center" hidden>
        <h4><kbd>{{responsePresent}}</kbd> = target present. <kbd>{{responseAbsent}}</kbd> = target absent.</h4>
    </div>
	<span class="fixation-cross" style="font-size: 30pt;" hidden>+</span> <!-- approx 63pt -->
	<div class="timeout-feedback" style="font-size: 14pt;" hidden>
	    <h4>You took too long to respond.</h4>
    </div>
    <div class="practice-feedback-correct" style="font-size: 14pt;" hidden>
	    <h4>Correct!</h4>
    </div>
    <div class="practice-feedback-incorrect" style="font-size: 14pt;" hidden>
	    <h4>Incorrect</h4>
    </div>
</div>
