<div class="fullheight fullsize" style="position:relative;">
    <div class="gorilla-zone" data-left="0%" data-right="0%" data-top="0%" data-bottom="30%">
        <div class="gorilla-float content" align="center">
            <p>You are now going to be shown trials, some of which contain <b>{{trialType}}</b> in them.</p>
            <p>Press any key to continue to the block.</p>
        </div>
    </div>
</div>
