<div class="fullheight fullsize" style="position:relative;">
    <div class="content-container">
        <h1>Demographics</h1>
        <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
                <!-- <a href="#">Link 1.0</a> -->
                <!-- <a href="#">Link 1.1</a> -->
                <!-- <a href="#">Link 1.2</a> -->
                <p>Female</p>
                <p>Male</p>
                <p>Other</p>
            </div>
        </div>
    </div>
    <div class="button-container">
        <button class="btn btn-primary" id="next-button">Next</button>
    </div>
</div>
