<div class="fullheight fullsize" style="position:relative;">
    <div class="gorilla-zone" data-left="0%" data-right="0%" data-top="0%" data-bottom="30%">
        <div class="gorilla-float content">
            <h1>Finished</h1>
            <h4>The block is now complete</h4>
            <h4>Thank you for participating</h4>
        </div>        
    </div>
    <div class="gorilla-zone" data-left="0%" data-right="0%" data-top="70%" data-bottom="0%">
        <div class="gorilla-float centered button">
            <button class="btn btn-primary" id="finish-button">Finish</button>
        </div>
    </div>
</div>
