<div class="fullheight fullsize" style="position:relative;">
    <div class="gorilla-zone" data-left="0%" data-right="0%" data-top="0%" data-bottom="30%">
        <div class="gorilla-float content">
            <h1>Our Experiment</h1>
            <p>{{introduction}}</p>
            <p>In this task, you will see an array of images.</p>
        </div>        
    </div>
    <div class="gorilla-zone" data-left="0%" data-right="0%" data-top="70%" data-bottom="0%">
        <div class="gorilla-float centered button">
            <button class="btn btn-primary" id="start-button">Start</button>
        </div>
    </div>
</div>
