<div class="fullheight fullsize" style="position:relative;">
    <div class="gorilla-zone" data-left="0%" data-right="0%" data-top="0%" data-bottom="30%">
        <div class="gorilla-float content">
            <h1>Our Experiment</h1>
            <p>{{introduction}}</p>
            <p>In this experiment, you will see a grid of images. Your task is to find the image in the grid that includes a face as quickly as possible. The face that you are looking for will not be an ordinary face, but an object that looks like a face. Below are some example of these faces. Sometimes a face will be present and sometimes there will be no face. If you find a face, click the <kbd>K</kbd> key on your keyboard as quickly as possible. If you do not find a face, press the <kbd>L</kbd> key on your keyboard. You have a maximum of 4 seconds to respond for each grid. If you do not respond within 4 seconds, the grid will disappear and the next grid will appear automatically. Please make your response by using two different fingers from the same hand. Before the experiment begins there will be several practice trials.  Click the <kbd>Next</kbd> button when you are ready to begin the practice trials.</p>
        </div>
    </div>
    <div class="gorilla-zone" data-left="0%" data-right="0%" data-top="70%" data-bottom="0%">
        <div class="gorilla-float centered button">
            <button class="btn btn-primary" id="start-button">Start</button>
        </div>
    </div>
</div>
