<div class="gorilla-zone" data-left="0%" data-right="0%" data-top="15%" data-bottom="40%">
	<div class="gorilla-float centered">
		<div class="practice-message" hidden>
            <p>practice makes perfect</p>
            <button class="btn btn-primary response-button" data-response="Next">Next</button>
        </div>
		<div class="final-practice-message" hidden>
		    <h4>This ends your practice trial.  Press any button to continue to the experiment.</h4>
	    </div>
	</div>
</div>
