@import '/style/style.less';

// define response button
.fixation-cross {
    position: relative;
    bottom: 10pt;
}

// set margin at top of container
.container {
    margin-top: 10vh; // 20% of the view height
}

/* define grid class for image array */
// define overall grid structure as 554x554 pixels;
// that is, 530x530 plus 12 pixels on each side of 
// the array
.trial-array {
    // position: absolute;
    // place-self: center;
    // vertical-align: middle;
    width: 10cm;
    height: 10cm;
    clear :both;
}
// define image box, which contains the image and the
// margin around all four sides of that image;
// 110 pixels is 96 pixels (the width and height of
// the image) plus 6*2 (6 pixels on each side) of the
// the square
.trial-array>div {
    // position: absolute;
    // position: relative;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
    // place-self: center;
    width: 2cm;
    height: 2cm;
    float: left;
    line-height: 2cm;
    text-align: center;    
}
// define image itself, which is within the image box;
// 96x96 pixels; the size of the images in the image array
// from Excel.
.trial-array>div>img {
    display:inline-block;
    // position: absolute;
    vertical-align: middle;
    width: 1.8cm;
    height: 1.8cm;
}
