@import '/style/style.less';

// define response button
.fixation-cross {
    position: relative;
    bottom: 10pt;
}
.trial-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.content-container {
    position: absolute;
    width: 100%;
    top: 30%;
    left: 50%;
    font-size: 12pt;
    -moz-transform: translateX(-50%) translateY(-30%);
    -webkit-transform: translateX(-50%) translateY(-30%);
    transform: translateX(-50%) translateY(-30%);
}

.finish-container {
    position: absolute;
    width: 50%;
    top: 30%;
    left: 50%;
    font-size: 12pt;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.button-container {
    position: absolute;
    bottom: 5%;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.trial-array {
    width: 10cm;
    height: 10cm;
    clear :both;
}
.trial-array>div {
    width: 2cm;
    height: 2cm;
    float: left;
    line-height: 2cm;
    text-align: center;
}
.trial-array>div>img {
    display:inline-block;
    vertical-align: middle;
    width: 1.8cm;
    height: 1.8cm;
}

.form-error {
    position: absolute;
    bottom: 20vh;
    left: 50%;
    color: red;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

// need incomplete-message and invalid-age to
// inherit from form-error!
.incomplete-message>form-error {
}
.invalid-age>form-error {
}

td {
    padding: 0 15px;
}
