@import '/style/style.less';

// define response button
.fixation-cross {
    position: relative;
    bottom: 10pt;
}

// set margin at top of container
// .container {
    // margin-top: 10vh; // 20% of the view height
// }

.trial-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.content-container {
    position: absolute;
    width: 80%;
    top: 30%;
    // top: 30vh; // 30% of the view height
    left: 50%;
    // left: 50vw; // 50% of the view width
    font-size: 14pt;
    -moz-transform: translateX(-50%) translateY(-30%);
    -webkit-transform: translateX(-50%) translateY(-30%);
    transform: translateX(-50%) translateY(-30%);
}

.finish-container {
    position: absolute;
    width: 50%;
    top: 30%;
    // top: 30vh; // 30% of the view height
    left: 50%;
    // left: 50vw; // 50% of the view width
    font-size: 14pt;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.button-container {
    position: absolute;
    bottom: 10%;
    left: 50%;
    // margin: auto;
    // width: 50%;
    // margin: 0 auto;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* define grid class for image array */
// define overall grid structure as 554x554 pixels;
// that is, 530x530 plus 12 pixels on each side of
// the array
.trial-array {
    // position: absolute;
    // place-self: center;
    // vertical-align: middle;
    width: 10cm;
    height: 10cm;
    clear :both;
}
// define image box, which contains the image and the
// margin around all four sides of that image;
// 110 pixels is 96 pixels (the width and height of
// the image) plus 6*2 (6 pixels on each side) of the
// the square
.trial-array>div {
    // position: absolute;
    // position: relative;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
    // place-self: center;
    width: 2cm;
    height: 2cm;
    float: left;
    line-height: 2cm;
    text-align: center;
}
// define image itself, which is within the image box;
// 96x96 pixels; the size of the images in the image array
// from Excel.
.trial-array>div>img {
    display:inline-block;
    // position: absolute;
    vertical-align: middle;
    width: 1.8cm;
    height: 1.8cm;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
