<div class="gorilla-zone" data-left="0%" data-right="0%" data-top="15%" data-bottom="40%">
	<div class="gorilla-float centered">
		<div class="trial-array" hidden>
            {{#each trials}}
                <div>
                    <img src={{this}}>
                </div>
            {{/each}}
        </div>
        <div class="instruction" hidden>
            <h4>Please press <kbd>K</kbd> or <kbd>L</kbd></h4>
            {{!--<button class="btn btn-primary response-button" data-response="Next">Next</button>--}}
	        {{!--<button class="btn btn-primary" id="exit-button">Press to End</button>--}}
        </div>
		<span class="fixation-cross" style="font-size: 84px;" hidden>+</span>
	</div>
</div>
