<div class="gorilla-zone" data-left="0%" data-right="0%" data-top="15%" data-bottom="40%">
	<div class="gorilla-float centered">
		<div class="trial-array" hidden>
            {{#each trials}}
                <div>
                    <img src={{this}}>
                </div>
            {{/each}}
        </div>
        <div class="instruction" align="center" hidden>
            <h4>Press <kbd>K</kbd> if target present.  Press <kbd>L</kbd> if no target present.</h4>
            {{!--<button class="btn btn-primary response-button" data-response="Next">Next</button>--}}
	        {{!--<button class="btn btn-primary" id="exit-button">Press to End</button>--}}
        </div>
		<span class="fixation-cross" style="font-size: 84px;" hidden>+</span>
		<div class="timeout-feedback" hidden>
		    <h4>You took too long to respond.</h4>
	    </div>
	    <div class="practice-feedback-correct" hidden>
		    <h4>Correct!</h4>
	    </div>
	    <div class="practice-feedback-incorrect" hidden>
		    <h4>{{incorrectMessage}}</h4>
	    </div>
	</div>
</div>
