<div class="trial-container">
    <!-- <span class="digitalOrAnalogue">Was the watch digital or analogue?</span> -->
    <!-- <span class="didYouSee" hidden>Did you see {{imageType}}?</span> -->
    <!-- <div class="button-container"> -->
        <!-- <button class="btn btn-primary" id="start-button">Next</button> -->
    <!-- </div> -->
    <div class="digitalOrAnalogue" align="center">
        <h2>Was the watch digital or analogue?</h2>
    </div>
    <div class="response-instructions" align="center">
        <h4><kbd>{{digitalPresent}}</kbd> = digital. <kbd>{{analoguePresent}}</kbd> = analogue.</h4>
    </div>
    <div class="practice-feedback-correct" style="font-size: 14pt;" hidden>
	    <h4>Correct!</h4>
    </div>
    <div class="practice-feedback-incorrect" style="font-size: 14pt;" hidden>
	    <h4>Incorrect</h4>
    </div>
</div>
